*     {
    font-size: 35px;
    text-align: center;
}

header     {
    text-align: center;
}

h1     {
    font-size: 1.5rem;
    font-family: cursive;
    margin: 10px;
}

h2     {
    margin: 10px;
}

header img     {
    width:60vw;
    height: auto;
}

footer     {
    display: flex;
    justify-content: space-around;
}


span.and {
    color: orchid;
}

span.but {
    color: red;
}

span.orange {
    color: darkorange;
}

span.pink     {
    color: pink;
}


span.blue     {
    color: skyblue;
}

button     {
    background-color: coral;
}

footer     {
    display: flex;
    justify-content: space-around;
    
}