* {
    font-size: 40px
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 5vw;
}

#storyParts {
    width:95%
}

.endParts img {
    width: 100%;
}