* {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}

header {
    font-size: 1.5rem;
    color: darkmagenta;
}


h1 {
    font-size: 2rem;
    margin: 0px;
}

h2 {
    font-size: .75rem;
    margin: 5px;
}


/* classes  */

.A1 {
    color: orange;
}
.A2 {
    color: navy;
    font-size: 1.5rem;
}

#main2 {
    display: flex;
    justify-content: space-around;
}

.main3-a,
.main3-b{
    font-size: 0.85rem;
}

.main3-a {
    color: red;
}

.main3-b {
    color: limegreen;
}

.main2Pic {
    width: 11%;
    height: auto;
}



/* spans */

.able {
    color: red;
}

.permitted {
    color: blue;
}

.underline {
    text-decoration: underline;
    font-size: .75rem;
}

#intro img {
    width: 90%;
    height: auto;
}